.DS_STORE
.Rproj.user
makepackage/
*.Rbuildignore
.Rd2pdf*
.Rhistory

*.o
*.so
tryLTRCforests
old

!**/LTRCforests_*.pdf
# Un-ignore the affected subdirectory

**/CRAN-RELEASE
**/LTRCforests.Rproj
**/README.Rmd
**/cran-comments.md

