useDynLib(tryLTRCforests, .registration = TRUE)
importFrom("parallel", mclapply)
importFrom("graphics", "abline", "axis", "box", "boxplot", "bxp",
           "legend", "lines", "matlines", "matplot", "mtext", "par", "plot",
           "plot.new", "plot.window", "points", "rug", "segments",
           "strwidth", "text", "title", "grconvertX", "grconvertY", "plot.default")
importFrom("stats", "as.dist", "as.formula", "cutree", "dlnorm", "formula",
           "hclust", "lowess", "median", "model.matrix", "na.omit",
           "optim", "pgamma", "plnorm", "pnorm", "predict", 
           "quantile", "qnorm", "runif", "sd", "supsmu", "var", "wilcox.test")
importFrom("utils", "installed.packages", "txtProgressBar", "setTxtProgressBar",
           "write.table", "tail")
importFrom("grDevices", "gray")

S3method(predict,ltrccf)
S3method(predict,ltrcrsf)
export(ltrccf)
export(ltrcrsf)
export(sbrier_ltrc)
export(tune.ltrccf)
export(tune.ltrcrsf)
import(devtools)
import(ipred)
import(partykit)
import(prodlim)
import(stats)
import(survival)
import(utils)
importFrom(graphics,axis)
importFrom(survival,Surv)
